<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="Stub.System.Data.SQLite.Core.NetStandard" version="1.0.118" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" manuallyInstalled="true" />
  <package id="System.Data.SQLite" version="1.0.118" manuallyInstalled="true" />
  <package id="System.Data.SQLite.Core" version="1.0.118" />
</packages>